<body>
  <div class="header">
    <img src="./assets/imgs/back_top.png" class="back_top" />
    <img src="./assets/imgs/igi_logo_w.png" class="igi_logo_w" />
    <img src="./assets/imgs/back_under.png" class="back_under" />
  </div>

  <div class="sub_body">
    <div class="txt_all">
      <img src="./assets/imgs/title_s.png" class="s_title" />
      <div class="main_txt">
        <p class="main_txt_1">DIGITAL</p>
        <p class="main_txt_2">-TWIN</p>
      </div>
      <p class="sub_txt">
        <span class="sub_txt_bold">
          Factory indicator monitoring (fdi-Dashboard) -</span
        ><br />
        Digital twin management and real-time monitoring<br />
        of factory's current and future indicators
      </p>
      <a [routerLink]="['/dashboard']">
        <input type="button" class="go_btn" value="Go Dashboard" alt=""
      /></a>
    </div>
    <div class="main">
      <img src="./assets/imgs/main_img.png" class="main_img" />
    </div>
  </div>
</body>
